.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.bounty-card {
   border: 1px solid black;
   padding-top: 10px;
   padding-bottom: 10px;
   margin: 5px;
}

.profile-image {
   margin: 0 auto;
   width: 50%;
}

.username-area {
   text-align: center;
}

.bounty-info {
   font-size: 12px;
}

.description-label {
   font-weight: bold;
}
