<div class="container">
	<uib-tabset active="active">
		<uib-tab index="0" heading="Bounty Hunting">
			<p ng-if="$ctrl.loading">
				Loading . . .
			</p>
			<!--  Start bounty card hopefully make this directive once I figure that out-->
			<div class="bounty-card" ng-repeat="card in $ctrl.bountyCards track by $index">
				{{ card.user.name }}
			</div>
		</uib-tab>
		<uib-tab index="1" heading="Boss Scrolls">
			<h2>Boss Scrolls!</h2>
		</uib-tab>
		<uib-tab index="2" heading="Grinding">
			<h2>Grinding!</h2>
		</uib-tab>
	</uib-tabset>
</div>
